@model Article
@{
    ViewData["Title"] = "BlogDetail2";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="single-post spad">
    <div class="single-post__hero set-bg" data-setbg="@Model.CoverImageUrl"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="single-post__title">
                    <div class="single-post__title__meta">
                        <h2>@Model.CreatedDate.ToString("dd")</h2>
                        <span>@Model.CreatedDate.ToString("MMM")</span>
                    </div>
                    <div class="single-post__title__text">
                        <ul class="label">
                            <li>Kategori:</li>
                            <li>@Model.Category.CategoryName</li>
                        </ul>
                        <h4>@Model.Title</h4>
                        <ul class="widget">
                            <li>@Model.AppUser.Name</li>
                            <li>3 min read</li>
                            <li>@ViewBag.c</li>
                        </ul>
                    </div>
                </div>
                <div class="single-post__social__item">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="single-post__top__text">
                    <p>
                        @Html.Raw(Model.Detail)
                    </p>
                </div>

              
                
                @await Component.InvokeAsync("_TagBlogComponentPartial", new { id = Model.ArticleId })

                @await Component.InvokeAsync("_WriterInfoByBlogComponentPartial", new { id = Model.ArticleId })
                @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new { id = Model.ArticleId })
                @await Component.InvokeAsync("_CommentAddByBlogComponentPartial", new { id = Model.ArticleId })
                


            </div>
        </div>
    </div>
</section>

