
@using System.Text.RegularExpressions
@model List<ListMessageModel>
@{
    ViewData["Title"] = "Trash";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}
@functions {
    public string RemoveHtmlTags(string input)
    {
        if (string.IsNullOrEmpty(input))
            return input;

        var regex = new Regex("<.*?>");
        return regex.Replace(input, "");
    }
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Blog Sayfası</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Bloglar</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Benim Bloglarım </li>
                </ol>
            </nav>
        </div>
                            <div class="full padding_infor_info">
            <div class="row">
                <div class="col-md-3">
                                    @await Component.InvokeAsync("_MailLayoutSidebarComponent")
                                    </div>


                                    <div class="col-md-9">
                    <div class="inbox-head">
                        <h3>Çöp Kutusu</h3>
                        <div class="pull-right position search_inbox">
                            <div class="input-append">
                                <input type="text" class="sr-input form-control" id="filterText" placeholder="Arama yapınız" onkeyup="filterProducts(this.value)">
                                <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                               
                                        <div class="inbox-body">
                        <div class="mail-option">


                            <div class="btn-group hidden-phone">
                                <button type="button" onclick="deleteSelectedMail()" class="btn btn-danger"><i class="fa fa-trash-o"></i> Sil</button>
                                <button type="button" onclick="junkSelectedMail()" class="btn btn-secondary"><i class="fa fa-ban"></i> Spam</button>
                            </div>

                            <div class="unstyled inbox-pagination" style="display: inline-block; float: right;">
                                <a class="np-btn" href="#"><i class="mdi mdi-arrow-left-bold  pagination-left"></i></a>
                                <a class="np-btn" href="#"><i class="mdi mdi-arrow-right-bold pagination-right"></i></a>
                            </div>

                        </div>

                                            <table class="table table-inbox table-hover">
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr @(item.IsRead ? "class=unread" : "")>
                                                            <td>
                                                                <div class="icheck-primary">
                                                                    <input type="checkbox" value="@item.MessageId" id="delete">
                                                                    <label for="delete"></label>
                                                                </div>
                                                            </td>
                                                            <td class="mailbox-star">
                                                                <a href="/Mail/MakeImportant/@item.MessageId?redirectAction=Trash">
                                                <i class="mdi mdi-star @(item.IsImportant ? " text-warning" : "text-secondary")"></i>
                                                                </a>
                                                            </td>
                                        <td class="mailbox-name"><a href="/Writer/Message/ReadMail/@item.MessageId">@item.Sender.Email</a></td>
                                                            <td class="mailbox-subject">
                                                                <b>@item.MailSubject</b>
                                                                @{
                                                                    if (!string.IsNullOrEmpty(item.MailContent))
                                                                    {
                                                                        // İlk 50 kelimeyi veya tamamını al
                                                                        var contentToShow = item.MailContent.Split(' ').Length > 10 ? string.Join(" ", item.MailContent.Split(' ').Take(10)) + "..." : item.MailContent;
                                                                        @Html.Raw(RemoveHtmlTags(contentToShow))
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.Raw(string.Empty)
                                                                    }
                                                                }
                                                            </td>
                                                            <td class="mailbox-attachment"></td>
                                                            <td class="mailbox-date">
                                                                @item.MailTime.ToString("hh\\:mm")
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- /.card -->
                                    </div>

                                </div>
                            </div>
         
        <!-- table section -->
    </div>
</div>


